.fondo1
  background-color: #FFF6E7

.fondo2
  background-color: #3ba3f8

.fondo4
  background-color: #133D60 
  border-radius: 0

.fondo5
  background-color: #DFEAF1

.fondo6
  background-color: #DEEEFC !important

.fondo7
  background-color: #1670B9 !important

.fondo8
  background-color: #FCD189

.fondo9
  background-image: url('../assets/curso/tema2/fondotema2.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo10
  background-image: url('../assets/curso/tema3/fondotema3.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo14
  background-image: url('../assets/curso/tema1/fondotema1.png')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo12
  background-color: #F6F6F6

.fondo13
  background-color: #133D60
  border-radius: 50px

.fondo15
  background-color: #AED4F5 !important

.pt-0 
  padding-top: 0!important
  background-color: #AED4F5

.bordes
  border-radius: 10px

.color-texto
  color: #3ba3f8

.slyder-d__content__card
  background-color: #EBF6FF !important
  width: 500px
  height: 130px

.slyder__btn
  display: block
  width: 30px
  height: 30px
  position: relative
  background-color: #F6525D !important
  margin-left: 15px

.slyder__btn:nth-child(3)
  display: block
  width: 30px
  height: 30px
  position: relative
  background-color: #E2E2E2 !important
  margin-left: 15px

.correr-izq
  margin-left: -50px

.correr-der
  margin-right: -50px

.bajar
  margin-bottom: -80px

.bajar2
  margin-bottom: -90px

.lista-ol--cuadro__vineta
    background-color: #133D60 !important
    display: inline-block
    min-width: 24px
    height: 24px
    color: #fff
    position: relative
    margin-right: 8px

.reducir
  width: 50%
  height: 50%
  margin: 0 auto

.reducirImg
  max-width: 130%
  max-height: 130%
  margin: 0 auto

.reducirImg2
  max-width: 92%
  max-height: 95%
  margin: 0 auto

.reducir80
  width: 80%
  margin: 10px auto

.altura-tarjeta
  height: 120%

.tabla-a th
  border-color: #AFAFAF !important
  font-weight: 700
  text-align: center
  background-color: #FCD189

td, th 
  border: 1px solid #AFAFAF !important
  padding: 0.75em

.titulo-sexto
  margin-bottom: 24px
  border-left: 10px solid !important
  padding: 5px 0 5px 15px

.titulo-sexto.color-secundario 
  border-left-color: #3BA3F8 !important

.titulo-sexto.color-acento-contenido
  color: #FCD189
  margin-bottom: 24px
  border-left: 5px solid !important
  padding: 5px 0 5px 15px

.texto-arriba
  vertical-align: top

.tarjeta--container > .tarjeta:first-child
  border-top-left-radius: 0 !important
  border-bottom-left-radius: 0 !important

.tarjeta--container > .tarjeta:last-child
  border-top-right-radius: 0 !important
  border-bottom-right-radius: 0 !important

.linea-tiempo-d.color-secundario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
  background-color: #133D60 !important
  color: #fff !important

.linea-tiempo-d.color-primario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
    background-color: #133D60 !important
    color: #fff

.linea-tiempo-d__item--selected .linea-tiempo-d__item__content__title
  font-weight: 700
  background-color: #aed4f5

.lista-ul--color li > i:first-of-type 
  color: #133D60 !important

.fa-plus:before 
  content: "\f067"
  color: #fff

.fa-minus:before 
  content: "\f068"
  color: #fff

.acordion__accion__btn--a 
  background-color: #133D60 !important

.tarjeta--azul
  background-color: #DFEAF1

.tarjeta--gris
  background-color: #fff !important

.anchoTitulo
  width: 252px

@media (min-width: $bp-min-xxl)
  .margenTexto
    margin-left: 0em !important
    margin-right: 0.9em
  .margenTitulo
    margin-left: 0
  .alineacion
    align-items: end
  .correr-izqimg
    margin-left: -50px
  .margen-tarjeta
    margin-bottom: 2.7em
  .margen-texto
    margin-bottom: 3em
  .reducirImg2
    max-width: 150%
    max-height: 130%
    margin: 0 auto
  .reducirTar
    max-width: 100%
    max-height: 40%
    margin: 0 auto
  .margen-Tar
    margin-top: 0
  .tarjeta-avatar-b .tarjeta
    width: 100%
    margin-left: -14%
    padding-left: 10%
  .slyder-d__content__card
    width: 700px

@media (max-width: 1400px) and (min-width: 1201px)
  .margen-tarjeta
    margin-bottom: 4em 
  .reducirImg2
    max-width: 130%
    max-height: 130%
    margin: 0 auto
  .reducirTar
    max-width: 100%
    max-height: 50%
    margin: 0 auto
  .margen-Tar
    margin-top: 0
  .tarjeta-avatar-b .tarjeta
    width: 100%
    margin-left: -14%
    padding-left: 10%
  .slyder-d__content__card
    width: 700px
    
@media (max-width: 1200px) and (min-width: 993px)
  .bajar
    margin-bottom: -80px
  .alineacion
    align-items: end
  .margenTexto
    margin-left: 0
    margin-right: 0.9em
  .margenTitulo
    margin-left: 0
  .correr-izqimg
    margin-left: -50px
  .margen-tarjeta
    margin-bottom: 5.5em
  .reducirImg2
    max-width: 130%
    max-height: 130%
    margin: 0 auto
  .reducirTar
    max-width: 100%
    max-height: 65%
    margin: 0 auto
  .margen-Tar
    margin-top: 0
  .slyder-d__content__card
    width: 500px
    height: 150px

@media (max-width: 992px)
  .celular
    display: none
  .correr-izqFig
    margin-left: -20px
  .margenTexto
    margin-left: 0
    margin-right: 0.9em
  .margenTitulo
    margin-left: 0
  .alineacion
    align-items: end
  .correr-izqimg
    margin-left: 0
  .slyder-d__content__card
    width: 500px
    height: 140px
  .bajar
    margin-bottom: -120px
  .bajar2
    margin-bottom: 0
  .margen-texto
    margin-bottom: 0
  .margen-texto2
    margin-bottom: 2.5em
  .reducir80
    width: 60%
    margin: 10px auto
  .margen-Tar
    margin-top: 3em
  .margen-abajo
    margin-bottom: 3em

@media (max-width: 768px)
  .margenTitulo
    margin-left: 1.5em
  .imagenes
    display: none
  .alineacion
    align-items: start !important
  .correr-izqimg
    margin-left: 0
  .margenTexto
    margin-left: 1.5em !important
    margin-right: 2em
  .margen-tarjeta
    margin-bottom: 3em
  .margen-texto
    margin-bottom: 0.5em
  .margen-texto2
    margin-bottom: 0
  .reducirImg2
    max-width: 150%
    max-height: 150%
    margin: 0 auto
  .margen-Tar
    margin-top: 3em

@media (max-width: 576px)
  .imagenes
    display: none
  .margenTexto
    margin-left: 2em
    margin-right: 2em
  .margenTitulo
    margin-left: 1.5em
  .alineacion
    align-items: start !important
  .correr-izqimg
    margin-left: 0
  .reducir80
    width: 30%
    margin: 10px auto
  .reducirgrafica
    width: 80%
    margin: 0 auto
  .slyder-d__content__card
    width: 370px
    height: 140px
  .bajar
    margin-bottom: 0
    margin-top: -70px
  .margen-texto
    margin-bottom: 0.5em
  .margen-texto2
    margin-bottom: 0
  .reducirImg2
    max-width: 150%
    max-height: 150%
    margin: 0 auto
  .margen-Tar
    margin-top: 3em